.DS_Store
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
libs/
lib64/
var/
MANIFEST

# Django stuff:
*.log



# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

readme.txt
truststore.jks
exporters/cd-restapi-exporter

# Maven
target/
*.jar
*.war
*.ear
*.class

# Maven wrapper
.mvn/
mvnw
mvnw.cmd

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml